node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.upm
package-lock.json
tmp/

# Sessions — folder ada tapi isinya dikosongkan
sessions/**
!sessions/
!sessions/hisoka/
!sessions/hisoka/.gitkeep

# Jadibot — folder ada tapi isinya dikosongkan
jadibot/**
!jadibot/
!jadibot/.gitkeep
